In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('filtered_df.csv')

In [4]:
df['Q10'].isnull().sum()

194

In [5]:
df['Q10'].shape

(354,)

In [6]:
df['Q17'].shape

(354,)

In [7]:
new_df1 = df.dropna(subset=['Q10'])

In [8]:
new_df2 = df.dropna(subset=['Q12'])

In [9]:
new_df3 = df.dropna(subset=['Q14'])

In [10]:
new_df4 = df.dropna(subset=['Q17'])

In [11]:
df.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q1', 'Q2_1', 'Q2_2', 'Q2_3',
       'Q2_4', 'Q3_1', 'Q3_2', 'Q3_3', 'Q3_4', 'Q4_1', 'Q5_1', 'Q6', 'Q7',
       'Q10', 'Q12', 'Q14', 'Q17', 'Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5',
       'Q18_6', 'Q19', 'Q20', 'Q21', 'condition_experiment'],
      dtype='object')

In [12]:
import re

### Calculate the Jecard between product first and final writing in condition 1 & 2

In [15]:
def tokenize(text):
    # Simple tokenization based on whitespace and lowercase conversion
    # Consider more sophisticated tokenization/natural language processing (NLP) if necessary
    return set(text.lower().split())

# Function to calculate Jaccard index between two texts
def calculate_jaccard_index(text1, text2):
    set1 = tokenize(text1)
    set2 = tokenize(text2)
    intersection = set1.intersection(set2)
    union = set1.union(set2)
    # Protect against division by zero if both sets are empty
    return len(intersection) / len(union) if len(union) > 0 else 0

# Assuming both DataFrames are aligned and have the same number of rows
# Apply the calculate_jaccard_index function row-wise
jaccard_indices = [calculate_jaccard_index(row1, row2) for row1, row2 in zip(new_df1['Q10'], new_df2['Q12'])]
result_df_0 = pd.DataFrame({'JaccardIndex_0': jaccard_indices})

print(result_df_0)

     JaccardIndex_0
0          0.929825
1          0.250000
2          0.225000
3          0.212121
4          0.294118
..              ...
153        0.163265
154        0.093023
155        0.146789
156        0.131313
157        0.031250

[158 rows x 1 columns]

In [18]:
jaccard_indices= [calculate_jaccard_index(row1, row2) for row1, row2 in zip(new_df3['Q14'], new_df4['Q17'])]
result_df_1 = pd.DataFrame({'JaccardIndex_1': jaccard_indices})

print(result_df_1)

     JaccardIndex_1
0          0.050000
1          0.388060
2          0.296703
3          0.816901
4          0.562500
..              ...
152        0.246032
153        0.000000
154        0.180556
155        0.129310
156        0.118056

[157 rows x 1 columns]

In [21]:
type(result_df_0)

pandas.core.frame.DataFrame

In [25]:
merged_df = pd.concat([result_df_0, result_df_1], ignore_index=True)

In [27]:
merged_df = pd.concat([result_df_0, result_df_1], axis=1)

In [28]:
merged_df

     JaccardIndex_0  JaccardIndex_1
0          0.929825        0.050000
1          0.250000        0.388060
2          0.225000        0.296703
3          0.212121        0.816901
4          0.294118        0.562500
..              ...             ...
153        0.163265        0.000000
154        0.093023        0.180556
155        0.146789        0.129310
156        0.131313        0.118056
157        0.031250             NaN

[158 rows x 2 columns]

In [29]:
from scipy import stats

# Assuming you have merged_df already defined

# Extract the columns for the t-test
column_0 = merged_df['JaccardIndex_0']
column_1 = merged_df['JaccardIndex_1']

# Perform the t-test
t_statistic, p_value = stats.ttest_ind(column_0, column_1, nan_policy='omit')

# Display the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: -1.0179883807315997
P-Value: 0.3094696894473844

### There is not significant difference between Jeccard index of (fist and final writing) in two conditions